*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family:arial,sans-serif;
    background-color: aliceblue;
    justify-content: center;
    align-items:center;

}
header h1{
width:100%;
padding:15px;
margin:10px;
text-align:center;
font-weight:bold;
background-color:#d36021;
}
p{
    text-align:center;
    font-size:large;
    padding:15px;
    font-weight:bold;


}
.p1{
    color:brown;
}